*{
    font-family:'Poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #250057;
}

.container{
    width:90%;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    padding:10px 20px;
    margin:300px auto 0;
    display:flex;
    align-items: center;

}


.container input{
    width:100%;
    padding:10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color:#555;
}
.image{
    width:35px;
    cursor: pointer;
}